# Database Configuration
DB_TYPE=sqlite
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=simosa

# MQTT Configuration (HiveMQ)
MQTT_HOST=broker.hivemq.com
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=

# Server Configuration
PORT=8080
